.cart {
  padding: 1rem 1rem 3rem 1rem;
  border-radius: 25px;
  color: white;
  width: 60rem;
  max-width: 95%;
}

.cart h1 {
  text-align: center;
}

.cart__selection-wrapper {
  background: darkgray;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 20px;
  margin: 2rem auto;
}