.cart__table {
  background: gray;
  border-radius: 15px;
  padding: 20px;
  border-top: 40px rgb(98, 98, 98) solid;
}

table {
  width: 100%;
  padding-top: 40px;
}

table tr:first-child {
  color: #006496;
  border-bottom: 1px solid white;
}

.cart__empty h2 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .cart__table {
    padding: 2px;
    font-size: 12px;
  }
}