.cart__message {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: space-between;
}

.cart__error-message {
  background: lightcoral;
  border: 1px solid darkred;
  color: darkred;
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
}
